# Node
node_modules/
dist/
*.log
.env
.env.local

# Flutter
app/build/
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.packages
app/.pub-cache/
app/.pub/
app/ios/Pods/
app/ios/.symlinks/
app/ios/Flutter/Flutter.framework/
app/ios/Flutter/Flutter.podspec
app/android/.gradle/
app/android/local.properties
app/android/app/debug/
app/android/app/profile/
app/android/app/release/

# IDE
.vscode/
.idea/
*.iml
.DS_Store

# Design
design-refs/*/screenshots/*.png

figma_node.json
